<h2>Avengers</h2>

<section ng-controller="AvengersCtrl">
  <table class="table table-striped">
    <tr>
      <th>Nome</th>
      <th>Telefone</th>
    </tr>
    <tr ng-repeat='avenger in avengers'>
      <td>{{avenger.nome}}</td>
      <td>{{avenger.tel}}</td>
    </tr>
  </table>
</section>
