<!DOCTYPE html>
<html lang="pt-BR" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular-Node Project</title>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/application.css">
</head>
<body>
  <header>
  </header>
  <main role="main" class="container">
    <div class="page-header">
      <h1>Welcome to your new Angular-Node based project</h1>
    </div>

    <!-- block content -->

    <section ng-controller='AvengersCtrl' class='row'>
      <form ng-submit='adicionaAvenger()' class='col-lg-4'>
        <label for="">Nome do Avenger</label>
        <input type='text' ng-model='avenger.nome' class='form-control'>
        <label for="">Telefone</label>
        <input type='tel' ng-model='avenger.tel' class='form-control'>
        <hr>
        <input type='submit' value='salvar' class='btn btn-primary'>
      </form>
    </section>

    <h2>Avengers</h2>

    <table ng-controller="AvengersCtrl" class="table table-striped">
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
      </tr>
      <tr ng-repeat='avenger in avengers'>
        <td>{{avenger.nome}}</td>
        <td>{{avenger.tel}}</td>
      </tr>
    </table>

  </main>
  <script src="assets/jquery/dist/jquery.js"></script>
  <script src="assets/bootstrap/dist/js/bootstrap.js"></script>
  <script src="assets/angular/angular.min.js"></script>
  <script src="javascripts/AvengersController.js"></script>
</body>
</html>
