<!DOCTYPE html>
<html lang="pt-BR" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular-Node Project</title>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/application.css">
</head>
<body>
  <header>
  </header>
  <main role="main" class="container">
    <div class="page-header">
      <h1>Welcome to your new Angular-Node based project</h1>
    </div>

    <!-- block content -->

    <div ng-controller='FretesCtrl'>
    <section class='row'>
      <form ng-submit='createFrete()' class='col-lg-4'>
        <label for="">Tipo de carga</label>
        <input type='text' ng-model='frete.carga' class='form-control'>
        <label for="">Cidade Origem</label>
        <input type='tel' ng-model='frete.cidade_origem' class='form-control'>
        <label for="">Cidade Destino</label>
        <input type='tel' ng-model='frete.cidade_destino' class='form-control'>
        <label for="">Tipo de Carroceria</label>
        <input type='tel' ng-model='frete.carrocerias' class='form-control'>
        <hr>
        <input type='submit' value='salvar' class='btn btn-primary'>
      </form>
    </section>

    <h2>Fretes</h2>
    <!-- <div ng-controller='AvengersCtrl'> -->
    <table class="table table-striped">
      <tr>
        <th>Carga</th>
        <th>Origem</th>
        <th>Destino</th>
        <th>Carrocerias</th>
      </tr>
      <tr ng-repeat='frete in fretes'>
        <td>{{frete.carga|lowercase}}</td>
        <td>{{frete.cidade_origem}}</td>
        <td>{{frete.cidade_destino}}</td>
        <td>{{frete.carrocerias}}</td>
      </tr>
    </table>
    </div>

  </main>
  <script src="assets/jquery/dist/jquery.js"></script>
  <script src="assets/bootstrap/dist/js/bootstrap.js"></script>
  <script src="assets/angular/angular.min.js"></script>
  <script src="javascripts/FretesController.js"></script>
</body>
</html>
