<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular-Node Project</title>
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="stylesheets/application.css">
</head>
<body>
  <header>
  </header>
  <main role="main" class="container">
    <div class="page-header">
      <h1>Your new project</h1>
    </div>

    <!-- block content -->
    {% block content %}{% endblock %}

  </main>
  <script src="assets/jquery/dist/jquery.js"></script>
  <script src="assets/bootstrap/dist/js/bootstrap.js"></script>
  <!-- <script src="assets/angular/angular.min.js"></script> -->
  <!-- <script src="javascripts/AvengersController.js"></script> -->
</body>
</html>
